* {
    box-sizing: border-box;
    font-size: 20px;
}

body {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

h1 {
    font-size: 1.4em;
}

form {
    display: block;
}

p {
    font-size: 1em;
    padding: 2vw 6vw;
    text-align: left;
}

